.btn {
    display: inline-block;
    background-color: $primary;
    color: $light;
    border-radius: 10px;
    padding: 0.75rem;
    width: 100%;
    border: 1px solid $primary;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-weight: 500;
    
}